// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




// greeting to sign in or sign up
.greeting-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-image: url(https://s3-us-west-2.amazonaws.com/spotifyclone-dev/guitarphoto.jpg);
  background-size: cover;


  .initial-greeting-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(6, 6, 6, 0.8);
    color: white;

    width: 400px;
    height: 400px;

    h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 100px;
      font-weight: 900px;
      color: white;
      margin: 20px;
    }


  }
}

.login-signup-greeting {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 280px;

  a {
    margin: 10px 0px;
    border: lightgray 2px solid;
    border-radius: 5px;
    color: lightgray;
    -webkit-transition: color 0.3s, border 0.3s;
  }

  a:hover {
    color: gray;
    border: gray 2px solid;
  }

  .guest-login-x {
    margin: 10px 0px;
    color: #1db954;
    border: rgb(0, 204, 102) 2px solid;
    border-radius: 5px;
    transition: color 0.3s, border 0.3s;
  }

  .guest-login-x:hover {
    color: #1ed760;
    border: #1ed760 2px solid;
  }
}
