.header-render {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 90%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-transition: height 0.3s;
  font-family: helvetica, sans-serif;

  .app-title-icon-combo {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    justify-content: space-between;

    .App-title {
      font-family: "roboto", sans-serif;
      font-size: 35px;
      font-weight: 700;
      color: white;
      margin-left: 10px;
      transition: color 0.5s;
    }

    .App-title:hover {
      color: #1db954;
    }

    .icon {
      height: 40px;
      width: 40px;
    }
  }

  .header-nav-bar {
    font-size: 16px;
    background: black;
    color: white;
    margin-right: 25px;
    transition: color 1s;

    .header-current-user {
      color: white;
      font-size: 50px;
    }

    .loginout {

      display: flex;

      h1 {
        margin-right: 20px;
      }

      button {
        transition: color 0.5s;
      }

      button:hover {
        color: #1db954;
      }
    }


  }



}
