
.everything {
  display: flex;
  flex-direction: column;
}

.music-landing-page {

  .sidebar {
    position: fixed;
    background-color: rgba(0,0,0,0);
    left: 0;
    right: 90%;
    top: 10%;
    bottom: 5%;

  }

  .body {
    background-image: linear-gradient(rgb(61, 72, 91), rgb(6, 7, 9) 85%);
    position: fixed;
    left: 10%;
    right: 0;
    top: 10%;
    bottom: 5%;

    .content {
      position: fixed;
      top: 15%;
      right: 5%;
      left: 15%;
      bottom: 10%;
    }
  }

  .footer {
    position: fixed;
    top: 95%;
    bottom: 0;
    right: 0;
    left: 0;
    color: black;

    .audio-player-container {
      audio {
        width: 100%;
        background-color: rgba(0,2,65, 0.5);
      }

    }
  }
}

.audio-player-container {
  background-color: black;
  audio {
    background-color: black;
  }
}

footer {
  background-color: black;
}
