// greeting to newly signed in user
.personal-greeting-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-image: url(https://s3-us-west-2.amazonaws.com/spotifyclone-dev/guitarphoto.jpg);
  background-size: cover;
  color: white;

  .header-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(6, 6, 6, 0.8);

    width: 400px;
    height: 400px;

    .button-sizing {
      width: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    .header-name {
      font-family: "roboto", sans-serif;
      font-size: 60px;
      font-weight: 900;
      text-align: center;
      margin: 20px;
    }

    .logout-button {
      font-size: 20px;
      border: darkred 3px solid;
      border-radius: 5px;
      color: darkred;
      -webkit-transition: color 0.3s, border 0.3s, font-size 0.3s;
      margin: 10px 0px;
    }

    .logout-button:hover {
      color: red;
      border: red 3px solid;
      font-size: 22px;
    }

    .music-button {
      font-size: 20px;
      border: #1db954 3px solid;
      color: #1db954;
      margin: 10px 0px;
      border-radius: 5px;
      -webkit-transition: color 0.3s, border 0.3s, font-size 0.3s;
    }

    .music-button:hover {
      color: #1ed760;
      border: #1ed760 3px solid;
      font-size: 22px;
    }
  }
}
