// Place all the styles related to the api/playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.playlist-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  .playlist-item {
    color: white;
    font-family: helvetica, sans-serif;
    font-size: 40px;
    margin: 30px;
  }
}

.playlist-show {
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 40px;
  margin: 30px;
  text-align: center;

  .playlist-info {
    display: flex;
    margin-top: 9%;
    margin-left: 11%;

    img {
      width: 150px;
      height: 150px;
    }

    h1 {
      margin-left: 20px;
      font-size: 50px;
      align-self: flex-end;
    }
  }

  .playlist-song-index {
    color: white;
    font-family: helvetica, sans-serif;
    font-size: 16px;
    margin-left: 11%;
    margin-top: 40px;

    .playlist-song-item {
      display: flex;
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
      padding-left: 30px;
      padding-top: 5px;
      padding-bottom: 5px;
      align-items: center;


      button {
        img {
          height: 25px;
          width: 25px;
        }
      }
    }
  }

}
