


.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-image: url(http://res.cloudinary.com/jlofton/image/upload/v1500422805/fern_xjanxg.jpg);
  background-size: cover;

  .login-form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background: rgba(6, 6, 6, 0.6);

    width: 400px;
    height: 400px;

    .errors {
      color: red;
    }

    h1 {
      font-family: "Roboto", sans-serif;
      font-size: 32px;
      font-weight: 900;
    }

    .login-form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 200px;

      .login-input {
        border-bottom: 3px solid white;
        -webkit-transition: width 2s;
        transition: background-color 5000s ease-in-out 0s, border-bottom 1s;
        padding: 5px;
        text-align: center;

      }

      .login-input:hover {
        border-bottom: 3px solid #1ed760;
        width: 225px;
      }
    }

    .session-submit-button {
      margin: 20px 0px;
      padding: 15px 32px;
      border: lightgray 3px solid;
      padding: 5px 15px;
      border-radius: 5px;
      color: lightgray;
      -webkit-transition: color 0.5s, border 0.5s, font-size 0.5s;
    }

    .session-submit-button:hover {
      color: #1ed760;
      border: #1ed760 3px solid;
      font-size: 18px;
    }
  }
}

.login-form-buttons {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.instead-link {
  text-decoration: underline;
  transition: color 0.5s, font-size 0.5s;
}

.instead-link:hover {
  color: #1ed760;
  font-size: 18px;
}

.guest-login {
  font-size: 16px;
  color: #1db954;
  border: rgb(0, 204, 102) 3px solid;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0px;
  -webkit-transition: color 0.3s, border 0.3s, font-size 0.3s;
}

.guest-login:hover {
  color: #1ed760;
  border: #1ed760 3px solid;
  font-size: 18px;
}

.login-form-buttons {
  width: 200px;
  text-align: center;
}
