.album-show-page {
  display: flex;
  flex-direction: column;

  margin-top: 9%;
  margin-left: 11%;
  margin-bottom: 20%;

  .album-info {
    display: flex;

    .artist-info {
      align-self: flex-end;
      .album-name {
        width: 450px;
      }
      .artist-name {
        font-size: 20px;
        color: gray;
      }
    }

    img {
      width: 150px;
      height: 150px;
    }

    h1 {
      color: white;
      margin-left: 10px;
      font-family: helvetica, sans-serif;
      font-size: 50px;
      align-self: flex-end;
    }
  }

  .album-song-index {
    margin-top: 80px;
    border-bottom: 1px solid gray;
    width: 75%;

    .table-titles {
      display: flex;
      color: gray;
      font-family: helvetica, sans-serif;

      .table-title {
        margin-left: 16%;
      }

      .table-artist {
        position: absolute;
        margin-left: 31%;
      }

      .created-at {
        position: absolute;
        margin-left: 50%;
      }
    }


    .album-song-item {
      color: white;
      font-family: helvetica, sans-serif;
      font-size: 16px;
      border-top: 1px solid gray;
      padding: 5px 5px;
      display: flex;
      align-items: center;

      .play-button {
        margin-right: 10px;
      }

      .modal-button {
        margin-left: 30px;
      }

      .song-title {
        position: absolute;
        margin-left: 10%;
      }

      .artist-name {
        position: absolute;
        margin-left: 30%;
      }

      .created-at {
        position: absolute;
        margin-left: 50%;
      }



      img {
        width: 25px;
        height: 25px;
      }
    }

    .album-song-item:hover {
      background: rgba(60, 60, 60, 0.7);
    }
  }
}
