.modal-box {
  font-family: helvetica, sans-serif;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;

  .create-new-playlist-title {

  }

  .modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .create-playlist-form-label {
      width: 100%;
      display: flex;
      flex-direction: column;

      h2 {
        font-weight: 100;
        font-size: 20px;
        align-self: flex-start;
        margin-bottom: 20px;
      }

      .create-playlist-input {
        text-align: left;
      }
    }

    .submit-playlist {
      font-weight: 100;
      margin: 10px 0px;
      color: white;
      border: white 2px solid;
      border-radius: 5px;
      transition: color 0.3s, border 0.3s;
      margin-top: 20px;
      width: 300px;
    }

    .submit-playlist:hover {
      color: #1ed760;
      border: #1ed760 2px solid;
    }
  }
}
