
#song-index-list {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-family: helvetica, sans-serif;

  .song-item {
    div {
      display: flex;
      padding: 10px;

      button {
        padding-right: 20px;
      }
    }
  }
}
