.artist-index-item {
  font-family: helvetica, sans-serif;
  color: white;

  img {
    width: 100px;
    height: 100px;
  }

  h1 {
    font-size: 20px;
    font-family: helvetica, sans-serif;
    color: black;
  }
}
