.artist-show {

  .artist-show-banner {
    margin-left: 15%;
    height: 15em;
    overflow: hidden;

    h1 {
      position: absolute;
      font-family: helvetica, sans-serif;
      color: white;
      font-size: 50px;
      padding: 40px;
      margin-top: 10%;
    }

    img {
      position: relative;
      background-size: cover;
      z-index: -1;
      max-width:100%;
    }
  }



  .artist-show-albums {
    margin-left: 15%;
    overflow: auto;
    .artist-album-list {

      .artist-album-list-item {
        margin-top: 9%;
        margin-left: 11%;

        .artist-album-img {
          height: 150px;
          width: 150px;
        }

        h1 {
          margin-top: 10px;
          margin-left: 11%;
          color: white;
          font-family: helvetica, sans-serif;
          font-size: 20px;

        }
      }
    }
  }
}
