.artist-show {
  margin-left: 15%;
  height: 40%;
  overflow: hidden;


  h1 {
    position: absolute;
    font-family: helvetica, sans-serif;
    color: white;
    font-size: 50px;
    padding: 40px;
    margin-top: 10%;
  }

  img {
    position: relative;
    background-size: cover;
    z-index: -1;
    max-width:100%;
  }
}
